---
import Layout from '../../layouts/MainLayout.astro';
import BlogCard from '../../components/blog/card.astro';
import { useSanityClient } from 'astro-sanity';
import { getAllPostForPage, urlForImage, sanityPortableText } from '../../sanity';
import { Post } from '../../../types';
import Avatar from '../../components/avatar.astro';
// import PortableText from '../../components/PortableText.astro';
// 15-transactional-email-examples-to-get-you-inspired
export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(getAllPostForPage);
	console.log(posts, 'posts')
  return posts.map((post) => {
    return {
      params: {
        slug: post?.slug || '',
      },
      props: { post },
    };
  });

}
type Props = { post: Post }
// const { title, body } = Astro.props;
const { post } = Astro.props;
console.log(post, 'post')
---

<Layout description="" title="">
	<section class="my-10 md:my-20 lg:mb-28 ">
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20">
				<span class="inline-block uppercase text-sm font-semibold mb-5 tracking-wide group hover:text-opacity-60 text-black">
					<a href="#">
						<svg class="w-5 hidden lg:inline-block group-hover:text-secondary-600 transition group-hover:-translate-x-2 ease-in-out" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" color="#000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
						Blog
					</a>
				</span>
				<h1 class="font-semibold tracking-tight leading-none text-3xl mdLtext-5xl">
					{post.title}
				</h1>
				<div class="flex flex-wrap gap-2.5 mt-6 items-center">
					<div class="flex items-center space-x-2">
						<Avatar image={"https://www.mailersend.com/img/asset/bWFpbi91c2Vycy9hZ2F0aGVfMjEtbWluLmpwZw==?w=200&h=200&s=7fb70abf75974ffa0bc4a195c894e84d"} alt="Author profile"/>
						<span>{post.author.name}</span>
					</div>
					<span>·</span>
					<!-- <span>6 min read</span>
					<span>·</span> -->
					<span>
						<a href="/" class="hover:underline">
							{post.category.title}
						</a>
					</span>
					<span>·</span>
					<span>March 29th, 2023</span>
				</div>
			</div>
		</div>
	</section>
	<section class="mb-16 -mt-4">
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20">
				<img src={urlForImage(post.mainImage).width(970).height(450).url()}
				width="2048"
				height="1536"
				class="w-full rounded-lg max-w-full h-auto"
				alt="">
			</div>
		</div>
	</section>
	<section>
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20 min-h-screen lg:grid lg:grid-cols-9 gap-16 xl:gap-12">
				<div class="xl:col-span-2 lg:col-span-3 hidden lg:block">

				</div>
				<div class="xl:col-span-5 lg:col-span-6">
					<div class="bard text-lg">
						<div class="intro">
							{post?.intro}
						</div>
						<div set:html={sanityPortableText(post.body.fr)} class="prose lg:prose-xl"/>

						<div class="rounded-md bg-primary-100">

						</div>
					</div>
					<div>
						<div class="py-10 border-t-2 border-b-2">
							<div class="flex flex-col md:flex-row gap-6">
								<img src="https://www.mailersend.com/img/asset/bWFpbi91c2Vycy9hZ2F0aGVfMjEtbWluLmpwZw==?w=200&h=200&s=7fb70abf75974ffa0bc4a195c894e84d" class="rounded-lg w-24 h-24" alt="">
								<div class="text-base">
									<b class="block mb-2 text-lg">{post.author.name}</b>
									<div class="pb-2">
										I'm Agathe, Product Manager at MailerSend. When I'm not busy rolling out new product features, I'm planning my future mud-brick farmhouse complete with farm animals and a vineyard!
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="flex justify-between mt-20 mb-12">
							<h2 class="mb-0">Next up in Blog</h2>
							<a href="/" class="flex items-center hover:underline">
								Show All
							</a>
						</div>
						<div class="grid md:grid-cols-2 gap-x-12 gap-16 lg:gap-y-20">
							<div>
								<div class="group">
									<div class="col-xl-8">
										<BlogCard
										image="https://www.mailersend.com/img/asset/bWFpbi9jb3ZlcnMvYmxvZy1lbWFpbC1kbnMtcmVjb3Jkcy1mZWF0dXJlLW1pbi5qcGc=?w=640&h=420&s=8fd54371e95fb02827f50b25db889f64"
										slug={"using-mdx"}
										category={"Lifestyle"}
										categorySlug={"/lifestyle"}
										title={"Hey Siri: Download the new MailerSend iOS app!"}
										publishDate={"Avril 5, 2023"}
										/>
									</div>
								</div>
							</div>
							<div>
								<div class="group">
									<div class="col-xl-8">
										<BlogCard
										image="https://www.mailersend.com/img/asset/bWFpbi9jb3ZlcnMvMTQtdHJhbnNhY3Rpb25hbC1lbWFpbC1leGFtcGxlcy10by1nZXQteW91LWluc3BpcmVkLmpwZw==?w=640&h=420&s=738ad5f18726a3d9fe8bad9f189299ba"
										slug={"using-mdx"}
										category={"Lifestyle"}
										categorySlug={"/lifestyle"}
										title={"Hey Siri: Download the new MailerSend iOS app!"}
										publishDate={"Avril 5, 2023"}
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
