---
import Layout from '../../layouts/MainLayout.astro';
import BlogCard from '../../components/blog/card.astro';
import { useSanityClient } from 'astro-sanity';
import { urlForImage, sanityPortableText, PostAndRecommend, getAllPostAndRecommended } from '../../sanity';
import Avatar from '../../components/avatar.astro';
import { astroI18n, t } from "astro-i18n";
astroI18n.init(Astro)
import dayjs from 'dayjs';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(getAllPostAndRecommended);

  return posts.map((post) => {
    return {
      params: {
        slug: post?.slug || '',
      },
      props: { post },
    };
  });

}
type Props = { post: PostAndRecommend  }
const { post } = Astro.props;

---

<Layout 
description={post?.intro[astroI18n.langCode]} 
title={post.title[astroI18n.langCode]}
image={urlForImage(post.mainImage).url()}
>
	<section class="my-10 md:my-20 lg:mb-28 ">
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20">
				<span class="inline-block uppercase text-sm font-semibold mb-5 tracking-wide group hover:text-opacity-60 text-black">
					<a href="#" class="text-gray-900 dark:text-gray-100">
						<svg class="w-5 hidden lg:inline-block group-hover:text-secondary-600 text-gray-900 dark:text-gray-100 transition group-hover:-translate-x-2 ease-in-out" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" color="#000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
						Blog
					</a>
				</span>
				<h1 class="font-semibold tracking-tight leading-none text-3xl md:text-5xl text-gray-900 dark:text-gray-100">
					{post.title[astroI18n.langCode]}
				</h1>
				<div class="flex flex-wrap gap-2.5 mt-6 items-center text-gray-700 dark:text-gray-300">
					<div class="flex items-center space-x-2">
						<Avatar image={urlForImage(post.author.image).width(40).height(40).url()} alt="Author profile"/>
						<span>{post.author.name}</span>
					</div>
					<span>·</span>
					<!-- <span>6 min read</span>
					<span>·</span> -->
					<span>
						<a href="#" class="hover:underline">
							{post.categories[0].title[astroI18n.langCode]}
						</a>
					</span>
					<span>·</span>
					<span>{dayjs(post.publishedAt).format('MMM DD, YYYY')}</span>
				</div>
			</div>
		</div>
	</section>
	<section class="mb-16 -mt-4">
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20">
				<picture>
					<source
						srcset={urlForImage(post.mainImage).format('webp').url()}
						type="image/webp"
					/>
					<img
						class="responsive__img w-full rounded-lg max-w-full h-auto"
						src={urlForImage(post.mainImage).url()}
						alt="${value.alt}"
					/>
				</picture>
			</div>
		</div>
	</section>
	<section>
		<div class="container mx-auto w-full px-7">
			<div class="2xl:px-20 min-h-screen lg:grid lg:grid-cols-9 gap-16 xl:gap-12">
				<div class="xl:col-span-2 lg:col-span-3 hidden lg:block">

				</div>
				<div class="xl:col-span-5 lg:col-span-6">
					<div class="bard text-lg text-gray-600 dark:text-gray-200">
						<div class="intro">
							{post?.intro[astroI18n.langCode]}
						</div>
						<div 
						set:html={sanityPortableText(post.body[astroI18n.langCode])} 
						class="prose lg:prose-xl dark:prose-invert"
						/>

						<div class="rounded-md bg-primary-100">

						</div>
					</div>
					<div>
						<div class="py-10 border-t-2 border-b-2 mt-8">
							<div class="flex flex-col md:flex-row gap-6">
								<img src={urlForImage(post.author.image).width(96).height(96).url()} class="rounded-lg w-24 h-24" alt="">
								<div class="text-base">
									<b class="block mb-2 text-lg text-gray-900 dark:text-gray-100">{post.author.name}</b>
									<div class="pb-2 text-gray-700 dark:text-gray-200">
										{post.author.bio[astroI18n.langCode]}
									</div>
								</div>
							</div>
						</div>
					</div>
					{post?.recommended?.length > 0 ? 
					<div>
						<div class="flex justify-between mt-20 mb-12 text-gray-800 dark:text-gray-200">
							<h2 class="mb-0">Next up in Blog</h2>
							<a href="/" class="flex items-center hover:underline">
								{t('show-all')}
							</a>
						</div>
						<div class="grid md:grid-cols-2 gap-x-12 gap-16 lg:gap-y-20">
							{post?.recommended.map((post) => (
								<div>
									<div class="group">
										<div class="col-xl-8">
											<BlogCard
											image={post.mainImage}
											slug={post.slug}
											category={post.categories[0].title}
											categorySlug={post.categories[0].slug}
											title={post.title}
											publishDate={post.publishedAt}
											/>
										</div>
									</div>
								</div>
							))}
						</div>
					</div> : null}
				</div>
			</div>
		</div>
	</section>
</Layout>
